
body {
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
}
div#nav {
    position: fixed;
    height: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: block;
    opacity: 5%;
    z-index: 2;
}
div#nav:hover {
    transition: 500ms;
    opacity: 100%;
}
div#nav:not(:hover) {
    transition: 1000ms;
}
div#TitleBox {
    position: absolute;
    top: 20px;
    width: 70px;
    height: 50px;
    left: 9.2%;
    transform: translate(-50%, 0);
    background-color: #E0BBE4;
}
div#TitleBox2 {
    position: absolute;
    top: -5px;
    left: 13.2%;
    transform: translate(-50%, 0);
}
div#nav:hover > div#TitleBox {
    transition: 500ms;
    left: 13.2%;
    transform: translate(-50%, 0);
    width: 165px;
    height: 50px;
    background: rgb(209,178,241);
    background: linear-gradient(90deg, rgba(209,178,241,0.7011846975118172) 50%, rgba(224,187,228,1) 50%);
}
div#nav:not(:hover) > div#TitleBox {
    transition: 500ms;
}
h1#Title {
    user-select: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
}
a#TitleLink {
    user-select: none;
    text-decoration: none;
    color: black;
}
h1#menu {
    position: absolute;
    user-select: none;
    cursor: default;
    top: -20px;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 2;
}
.MenuContent {
    display: none;
    position: absolute;
    top: 25px;
    background-color: white;
    width: 120px;
    z-index: 0;
}
.MenuBtn {
    color: black;
    padding-left: 40px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
h1#MenuBtn1:hover {
    transition: 500ms;
    background-color: #AEBAE6;
}
h1#MenuBtn2:hover {
    transition: 500ms;
    background-color: #CAC9EE;
}
h1#MenuBtn3:hover {
    transition: 500ms;
    background-color: #E2D1ED;
}
.a {
    text-decoration: none;
    color: inherit;
}
.MenuBox {
    position: absolute;
    transition: 500ms;
    background-color: rgb(215, 215, 250);
    top: 40px;
    left: 80%;
    width: 120px;
    height: 15px;
}
.MenuBox:hover > .MenuContent {
    transition: 1000ms;
    display: block;
}
.MenuBox:hover {
    height: 25px;
    background-color: #FEC8D8;
}
div#front {
    position: absolute;
    /* display: block; gjør at overflow-x hidden fungerer */
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: lavender;
    overflow-x: hidden;
}
img#SkyBg {
    position: absolute;
    display: block;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.form {
    position: absolute;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20%;
    height: 400px;
    width: 550px;
    background-color: #ffffff;
}
div#formtitle {
    position: absolute;
    left: 15%;
    top: 10px;
}
h1#formtitletext {
    cursor: default;
    pointer-events: none;
    font-size: 20px;
    font-family: 'Glory', sans-serif;
}
form#forminsert {
    position: absolute;
    left: 10%;
    top: 20%;
    font-family: 'Josefin Sans', sans-serif;
}
.bar {
    cursor: default;
    pointer-events: none;
    margin: 0px;
    font-family: 'Architects Daughter', cursive;
}
.InputBox {
    font-family: 'Zilla Slab', serif;
    height: 30px;
    padding: 0px 15px;
    width: 150px;
    margin: 2px 2px;
    border: solid 1px #cac9ee;
}
.InputBox:hover {
    transition: 500ms;
    background-color: #cac9ee54;
}
.InputBox:not(:hover) {
    transition: 500ms;
}
.SubmitBtn {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    width: 80px;
    height: 40px;
    border: solid 0px black;
    background-color: #cac9ee56;
}
.SubmitBtn:hover {
    transition: 500ms;
    background-color: #cac9ee;
}
.SubmitBtn:not(:hover) {
    transition: 500ms;
}
div#formimage {
    position: absolute;
    overflow: hidden;
    border-radius: 0px 20px 20px 0px;
    height: 400px;
    width: 225px;
    left: 325px;
    background-color: rosybrown;
}
img#MountainBg {
    object-fit: cover;
    width: 100%; 
    height: 100%;
    transition: .2s all ease-out;
    /* Du mente kanskje % og ikke px */
}
img#MountainBg:hover {
    filter: grayscale(1);
}